<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">


  <title>Portfolio</title>
</head>
<body>

  <!-- HEADER -->
  <header class="l-header">
    <nav class="nav bd-grid">
      <div>
        <a href="#" class="nav__logo">Portfolio</a>
      </div>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
          <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
          <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
          <li class="nav__item"><a href="#work" class="nav__link">Projects</a></li>
          <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
        </ul>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class='bx bx-menu'></i>
      </div>
    </nav>
  </header>

  <main class="l-main">
    <!--===== HOME =====-->
    <section class="home bd-grid" id="home">
      <div class="home__data">
        <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">Mohammad Anas</span><br> Web Developer</h1>

        <a href="Contact.pdf" class="button">Download CV</a>
      </div>
      <div class="home__social">
        <a href="https://www.linkedin.com/in/mohammad-anas-5a3255223" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/Mohd-anas0693" class="home__social-icon"><i class='bx bxl-github'></i></a>
      </div>
      <div class="home__img">
        <img src="img/about.png" alt="" class="align">
      </div>
    </section>
    </section>

    <!--===== ABOUT =====-->
    <section class="about section " id="about">
      <h2 class="section-title">About</h2>

      <div class="about__container bd-grid">
        <div class="about__img">
          <img src="img/profile.png" alt="">
        </div>

        <div>
          <h2 class="about__subtitle">I'am Mohammad Anas</h2>
          <p class="about__text">As a fresh web developer, I bring a passion for creating
            innovative and user-friendly web experiences. With
            expertise in Node.js, Express.js, HTML, CSS, and a growing
            knowledge of web3, I am eager to contribute to projects
            that push the boundaries of decentralized technologies</p>
        </div>
      </div>
    </section>

    <!--===== SKILLS =====-->
    <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
      <h2 class="section-title">Skills</h2>

      <div class="skills__container bd-grid">
        <div>
          <h2 class="skills__subtitle">Profesional Skills</h2>
          <p class="skills__text">I have proper Skill set required for the Web Development, which are listed below:</p>
          <div class="skills__data">
            <div class="skills__names">
              <i class='bx bxl-html5 skills__icon'></i>
              <span class="skills__name">HTML5</span>
            </div>
            <div class="skills__bar skills__html">

            </div>
            <div>
              <span class="skills__percentage">90%</span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__names">
              <i class='bx bxl-css3 skills__icon'></i>
              <span class="skills__name">CSS3</span>
            </div>
            <div class="skills__bar skills__css">

            </div>
            <div>
              <span class="skills__percentage">80%</span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__names">
              <i class='bx bxl-javascript skills__icon'></i>
              <span class="skills__name">JAVASCRIPT</span>
            </div>
            <div class="skills__bar skills__js">

            </div>
            <div>
              <span class="skills__percentage">60%</span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__names">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(64, 112, 244, 1);">
                <path d="M12 21.985c-.275 0-.532-.074-.772-.202l-2.439-1.448c-.365-.203-.182-.277-.072-.314.496-.165.588-.201 1.101-.493.056-.037.129-.02.185.017l1.87 1.12c.074.036.166.036.221 0l7.319-4.237c.074-.036.11-.11.11-.202V7.768c0-.091-.036-.165-.11-.201l-7.319-4.219c-.073-.037-.165-.037-.221 0L4.552 7.566c-.073.036-.11.129-.11.201v8.457c0 .073.037.166.11.202l2 1.157c1.082.548 1.762-.095 1.762-.735V8.502c0-.11.091-.221.22-.221h.936c.108 0 .22.092.22.221v8.347c0 1.449-.788 2.294-2.164 2.294-.422 0-.752 0-1.688-.46l-1.925-1.099a1.55 1.55 0 0 1-.771-1.34V7.786c0-.55.293-1.064.771-1.339l7.316-4.237a1.637 1.637 0 0 1 1.544 0l7.317 4.237c.479.274.771.789.771 1.339v8.458c0 .549-.293 1.063-.771 1.34l-7.317 4.236c-.241.11-.516.165-.773.165zm2.256-5.816c-3.21 0-3.87-1.468-3.87-2.714 0-.11.092-.221.22-.221h.954c.11 0 .201.073.201.184.147.971.568 1.449 2.514 1.449 1.54 0 2.202-.35 2.202-1.175 0-.477-.185-.825-2.587-1.063-1.999-.2-3.246-.643-3.246-2.238 0-1.485 1.247-2.366 3.339-2.366 2.347 0 3.503.809 3.649 2.568a.297.297 0 0 1-.056.165c-.037.036-.091.073-.146.073h-.953a.212.212 0 0 1-.202-.164c-.221-1.012-.789-1.34-2.292-1.34-1.689 0-1.891.587-1.891 1.027 0 .531.237.696 2.514.99 2.256.293 3.32.715 3.32 2.294-.02 1.615-1.339 2.531-3.67 2.531z"></path>
              </svg>
              <span class="skills__name" style="padding-left: 14px"> Node.js</span>
            </div>
            <div class="skills__bar skills__ux">

            </div>
            <div>
              <span class="skills__percentage">75%</span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__names">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(64, 112, 244, 1);">
                <path d="M13.74 4.23c-.84-1-1.57-2-1.71-2.22H12c-.14.21-.87 1.22-1.71 2.22-7.2 9.19 1.14 15.39 1.14 15.39l.07.05c.06.95.22 2.33.22 2.33h.62s.15-1.37.21-2.33l.07-.06s8.32-6.19 1.12-15.38zM12 19.48a3.48 3.48 0 0 1-.48-.48L12 9l.45 10a3.57 3.57 0 0 1-.45.48z"></path>
              </svg>
              <span class="skills__name" style="padding-left: 14px"> MongoDb</span>
            </div>
            <div class="skills__bar skills__mongo">

            </div>
            <div>
              <span class="skills__percentage">50%</span>
            </div>
          </div>
          <div class="skills__data">
            <div class="skills__names">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(64, 112, 244, 1);">
                <path d="M9.37 17.51c-3.09.86 1.87 2.64 5.8 1a7.18 7.18 0 0 1-1.1-.54 11.59 11.59 0 0 1-4.16.18c-1.31-.15-.54-.64-.54-.64zm5.33-1.68a16.27 16.27 0 0 1-5.36.26c-1.31-.14-.45-.77-.45-.77-3.4 1.12 1.89 2.4 6.64 1a2.25 2.25 0 0 1-.83-.49zm1.82-9.73s-6.87 1.71-3.59 5.49a1.47 1.47 0 0 1-.25 2.12s2.46-1.27 1.33-2.86-1.86-2.22 2.51-4.75z"></path>
                <path d="M18.13 19.14s.56.46-.63.82c-2.27.69-9.43.9-11.42 0-.72-.31.62-.74 1-.83a2.54 2.54 0 0 1 .69-.08c-.8-.56-5.15 1.1-2.21 1.58 8.05 1.37 14.64-.56 12.57-1.49zm-2.76-4.88a7 7 0 0 1 .92-.49s-1.51.27-3 .4a28.11 28.11 0 0 1-4.82.05C6.09 13.91 9.74 13 9.74 13a6.81 6.81 0 0 0-3.16.75c-2.06 1.03 5.09 1.48 8.79.51zm.91 2.44a.39.39 0 0 1-.08.09c5-1.32 3.18-4.65.78-3.81a.71.71 0 0 0-.33.25s.14-.05.43-.12c1.22-.25 2.92 1.63-.8 3.59zM12 13c-.74-1.67-3.26-3.14 0-5.71C16.09 4.08 14 2 14 2c.84 3.31-3 4.31-4.34 6.37-.93 1.41.47 2.92 2.34 4.63z"></path>
                <path d="M16.41 21.32a29.75 29.75 0 0 1-9.14.14s.46.38 2.84.53c3.61.23 9.15-.12 9.29-1.83 0 0-.26.64-2.99 1.16z"></path>
              </svg>
              <span class="skills__name" style="padding-left: 14px"> Java</span>
            </div>
            <div class="skills__bar skills__java">

            </div>
            <div>
              <span class="skills__percentage">40%</span>
            </div>
          </div>
        </div>
        <div>
          <img src="img/skills.png" alt="" class="skills__img">
        </div>
      </div>

      </div>
    </section>


    <!--===== WORK =====-->
    <section class="work section" id="work">
      <h2 class="section-title">Projects</h2>
      <!-- For demo purpose -->
      <div class="container-fluid">
        <div class="px-lg-5">

          <div class="row">
            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              <div class="bg-white rounded shadow-sm project " ><img src="img/SolarSystem.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                  <h5 class="text-dark">Nasa Clone</h5>
                  <p class="small text-muted mb-0">Technology Used:<br> HTML and CSS <br> FrontEnd</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Link</span></p>
                    <div class="badge badge-danger px-3 rounded-pill font-weight-normal"><a href="https://github.com/Mohd-anas0693/solar_system">Click</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              <div class="bg-white rounded shadow-sm project "><img src="img/BlogPost.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                  <h5 class="text-dark">Blog Post</h5>
                  <p class="small text-muted mb-0">Technology Used: HTML,CSS,Express.js and MongoDb</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Link</span></p>
                    <div class="badge badge-primary px-3 rounded-pill font-weight-normal"><a href="https://github.com/Mohd-anas0693/BlogPost">Click</a></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End -->

            <!-- Gallery item -->
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              <div class="bg-white rounded shadow-sm project "><img src="img/Authentication.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                  <h5 class="text-dark">Authentication</h5>
                  <p class="small text-muted mb-0">Technology Used: HTML,CSS,Express.js and MongoDb</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Link</span></p>
                    <div class="badge badge-warning px-3 rounded-pill font-weight-normal text-white"><a href="https://github.com/Mohd-anas0693/cohort-task1">Click</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
              <div class="bg-white rounded shadow-sm project "><img src="img/travel-page.png" alt="" class="img-fluid card-img-top">
                <div class="p-4">
                  <h5 class="text-dark">Travel Page</h5>
                  <p class="small text-muted mb-0">Technology Used:<br> HTML and CSS <br> FrontEnd</p>
                  <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                    <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">Link</span></p>
                    <div class="badge badge-success px-3 rounded-pill font-weight-normal"><a href="https://github.com/Mohd-anas0693/Travel-Page">Click</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!--===== CONTACT =====-->
    <section class="contact section" id="contact">
      <h2 class="section-title">Contact</h2>

      <div class="contact__container bd-grid">
        <form action="/" class="contact__form" method="POST">
          <input name="name" type="text" placeholder="Name" class="contact__input">
          <input name="email" type="email" placeholder="Email" class="contact__input">
          <textarea name="message" id="" cols="0" rows="10" class="contact__input"></textarea>
          <input type="submit" value="Enter" class="contact__button button">
        </form>
      </div>
    </section>
  </main>

  <!--===== FOOTER =====-->
  <footer class="footer">
    <p class="footer__title">Portfolio</p>
    <div class="footer__social">
      <a href="https://www.facebook.com/profile.php?id=100016116097284" class="footer__icon"><i class='bx bxl-facebook'></i></a>
      <a href="https://www.instagram.com/anas_mohd0.6/" class="footer__icon"><i class='bx bxl-instagram'></i></a>
      <a href="https://twitter.com/Mohdanas0693" class="footer__icon"><i class='bx bxl-twitter'></i></a>
    </div>
    <p>&#169; 2023 copyright all right reserved</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>

</html>